<a href="https://colab.research.google.com/github/JD314/Proyecto-solar/blob/main/Proyecto_solar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Algunos enlaces 

[Nasa Open Software](https://code.nasa.gov/#/experiments) <br>

[Space Weather](https://www.spaceweatherlive.com/es.html) <br>

[parker solar](https://parker.gsfc.nasa.gov/model_ENLIL.html)<br>
[?](https://www.swpc.noaa.gov/products/wsa-enlil-solar-wind-prediction) <br>

DSCVR - GOES 16 <br>
[DSCVR web page](https://www.ngdc.noaa.gov/dscovr/portal/#/) <br>
[Goes](https://www.swpc.noaa.gov/products/goes-x-ray-flux) <br>
[DSCVER data](https://www.swpc.noaa.gov/products/real-time-solar-wind) <br>

In [4]:
#https://solarham.net/kp.htm

In [2]:
import pandas as pd
import seaborn as sns
import json

#Goes
Este es el que mide fulguraciones
[Goes](https://www.swpc.noaa.gov/products/goes-x-ray-flux)

In [3]:
diferential_electrones_1_day = 'https://services.swpc.noaa.gov/json/goes/primary/differential-electrons-1-day.json' #Se puede cambiar el 1 por un 7 y obtener los de 7 días

dif_elec = pd.read_json(diferential_electrones_1_day)
dif_elec.tail()

                  time_tag  satellite           flux         energy
2834  2022-09-05T14:20:00Z         16       1.111860  3200-6500 keV
2835  2022-09-05T14:20:00Z         16    1905.849976    340-500 keV
2836  2022-09-05T14:20:00Z         16     656.464844    500-700 keV
2837  2022-09-05T14:20:00Z         16     175.374588   700-1000 keV
2838  2022-09-05T14:20:00Z         16  144923.609375     80-115 keV

In [4]:
diferential_protons_1_day = 'https://services.swpc.noaa.gov/json/goes/primary/differential-protons-1-day.json'
dif_prot = pd.read_json(diferential_protons_1_day)
dif_prot.tail()

,time_tag,satellite,flux,energy,yaw_flip,channel
3713,2022-09-05T14:15:00Z,16,1.120715e-05,3400-6480 keV,0,P3
3714,2022-09-05T14:15:00Z,16,2.124405e-06,40300-73400 keV,0,P7
3715,2022-09-05T14:15:00Z,16,1.218103e-05,5840-11000 keV,0,P4
3716,2022-09-05T14:15:00Z,16,3.556871e-07,83700-98500 keV,0,P8A
3717,2022-09-05T14:15:00Z,16,1.576034e-06,99900-118000 keV,0,P8B

#DSCVR
Viento solar
[DSCVER data](https://www.swpc.noaa.gov/products/real-time-solar-wind) <br>

In [12]:
mag_1_day = 'https://services.swpc.noaa.gov/products/solar-wind/mag-1-day.json'
df_mag = pd.read_json(mag_1_day)
df_mag.columns = [df_mag.iloc[0][i] for i in range(7)]

mag = pd.read_json(df_mag.iloc[1:].to_json())
mag

                     time_tag  bx_gsm  by_gsm  bz_gsm  lon_gsm  lat_gsm    bt
1     2022-09-04 14:32:00.000   -0.06    1.62   -8.93    92.06   -79.70  9.10
2     2022-09-04 14:33:00.000   -1.51    3.72   -8.52   112.08   -64.77  9.43
3     2022-09-04 14:34:00.000   -1.54    4.12   -8.34   110.50   -62.15  9.43
4     2022-09-04 14:35:00.000   -1.53    3.97   -8.36   111.03   -63.05  9.39
5     2022-09-04 14:36:00.000   -2.28    4.30   -7.70   117.96   -57.74  9.21
...                       ...     ...     ...     ...      ...      ...   ...
1383  2022-09-05 14:24:00.000   -5.58    2.36   -3.59   157.09   -30.66  7.09
1384  2022-09-05 14:25:00.000   -5.96    2.54   -2.62   156.89   -22.02  7.10
1385  2022-09-05 14:26:00.000   -6.45    1.82   -2.13   164.22   -17.64  7.10
1386  2022-09-05 14:27:00.000   -4.72    4.63   -2.54   135.57   -21.00  7.12
1387  2022-09-05 14:28:00.000   -4.78    4.32   -2.90   137.89   -24.26  7.11

[1387 rows x 7 columns]

In [14]:
ephemerides = 'https://services.swpc.noaa.gov/products/solar-wind/ephemerides.json'
#Corregir error en nombre de las columnas
df_ephe = pd.read_json(ephemerides)
df_ephe.columns = [df_ephe.iloc[0][i] for i in range(13)]

ephem = pd.read_json(df_ephe.iloc[1:].to_json())
ephem.head()

,time_tag,x_gse,y_gse,z_gse,vx_gse,vy_gse,vz_gse,x_gsm,y_gsm,z_gsm,vx_gsm,vy_gsm,vz_gsm
1,2022-08-29 15:00:00.000,1431771,118834,-45066,-0.019,0.389,0.069,1431771,86561,-93057,-0.019,0.379,-0.110
2,2022-08-29 15:00:02.000,1431770,118826,-45062,-0.019,0.389,0.069,1431770,86558,-93047,-0.019,0.379,-0.110
3,2022-08-29 16:00:00.000,1431787,119227,-44817,-0.019,0.389,0.069,1431787,90768,-89359,-0.019,0.383,-0.095
4,2022-08-29 16:00:02.000,1431786,119219,-44813,-0.019,0.389,0.069,1431786,90764,-89349,-0.019,0.383,-0.095
5,2022-08-29 17:00:00.000,1431803,119621,-44568,-0.019,0.389,0.069,1431803,95078,-85180,-0.019,0.387,-0.077

In [20]:
plasma_1_day = 'https://services.swpc.noaa.gov/products/solar-wind/plasma-1-day.json'
df_plasma = pd.read_json(plasma_1_day)
df_plasma.columns = [df_plasma.iloc[0][i] for i in range(4)]

plasma = pd.read_json(df_plasma.iloc[1:].to_json())
plasma

                     time_tag  density  speed  temperature
1     2022-09-04 14:35:00.000    10.99  657.0       686793
2     2022-09-04 14:36:00.000    11.14  652.7       691286
3     2022-09-04 14:37:00.000    11.19  659.5       726694
4     2022-09-04 14:38:00.000    10.83  661.9       737468
5     2022-09-04 14:39:00.000    10.71  660.9       780483
...                       ...      ...    ...          ...
1379  2022-09-05 14:27:00.000    11.05  542.9       423404
1380  2022-09-05 14:28:00.000    10.88  546.9       448329
1381  2022-09-05 14:29:00.000    11.05  554.1       452031
1382  2022-09-05 14:30:00.000    10.92  558.4       459821
1383  2022-09-05 14:31:00.000    11.00  555.8       440361

[1383 rows x 4 columns]

#Espacio para comentarios y sufrir en conjunto

In [11]:
#premio nobel o nada
#XD